/* variables */

$white: #f7f7f7;
$grey-light: #a1a1a2;
$grey-dark: #121215;
$blue: #9fd4e4;

$font-main: "Montserrat", sans-serif;
$font-decor: "Raleway", sans-serif;

/* hiding content*/
.hidden {
  display: none;
}

.active-slide {
  border: 2px solid $blue;
}

.hidden-offer {
  opacity: 0;
}

.hidden-offer-mobile{
  height: 0;
}

/* global*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: $white;
  font-family: $font-main;
  color: $grey-dark;
  max-width: 1700px;
}

.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $grey-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.preload.finished {
  opacity: 0;
  pointer-events: none;
}

.water img {
  width: 110%;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}

.water {
  width: 100px;
  height: 100px;
  background-color: $blue;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.water:before,
.water:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: -80px;
  background-color: #fff;
}

.water:before {
  border-radius: 45%;
  background: rgba(255, 255, 255, 0.7);
  animation: wave 5s linear infinite, riptide 5s linear infinite alternate;
}

.water:after {
  border-radius: 35%;
  background: rgba(255, 255, 255, 0.3);
  animation: wave 5s linear infinite, riptide 5s linear infinite alternate;
}

@keyframes wave {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes riptide {
  0% {
    top: 0px;
  }

  100% {
    top: -180px;
  }
}

.logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  display: block;
  transition: 1s;
}

.start:hover {
  background-image: url(../images/logo-hover.png);
  transform: scale(1.3);
}

.container-left {
  width: 50%;
  text-align: right;
  padding: 80px 30px 50px 220px;
}

.container-right {
  width: 50%;
  text-align: left;
  padding: 80px 100px 50px 30px;
}

h2 {
  text-transform: uppercase;
  font-size: 17px;
  margin: 0 0 50px 0;
}

section {
  display: flex;
  max-height: 800px;
}

.btn-cont {
  text-align: right;
  margin: 100px 0 20px 0;

  .btn {
    position: relative;
    padding: 20px 70px;
    color: $grey-dark;
    background-color: $blue;
    text-decoration: none;
    font-size: em(18px);
    font-family: $font-main;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    transition: 1s;

    &:hover {
      background-color: $white;
      color: $blue;
      font-weight: bolder;
      font-size: 17px;
      cursor: pointer;

      .line-1 {
        animation: move1 1500ms infinite ease;
      }

      .line-2 {
        animation: move2 1500ms infinite ease;
      }

      .line-3 {
        animation: move3 1500ms infinite ease;
      }

      .line-4 {
        animation: move4 1500ms infinite ease;
      }
    }
  }

  .line-1 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: $grey-dark;
    left: 0;
    bottom: 0;
  }

  .line-2 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: $grey-dark;
    left: 0;
    top: 0;
  }

  .line-3 {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    background-color: $grey-dark;
    right: 0;
    top: 0;
  }

  .line-4 {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    background-color: $grey-dark;
    right: 0;
    bottom: 0;
  }
}

#contact .btn:hover {
  background-color: $grey-dark;
  color: $blue;
}

#contact .line-1,
#contact .line-2,
#contact .line-3,
#contact .line-4 {
  background-color: $white;
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }

  54% {
    height: 0;
    bottom: 100%;
  }

  55% {
    height: 0;
    bottom: 0;
  }

  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }

  54% {
    height: 0;
    top: 100%;
  }

  55% {
    height: 0;
    top: 0;
  }

  100% {
    height: 100%;
    top: 0;
  }
}

@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }

  55% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
    right: 100%;
  }
}

/* navigation*/

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  padding: 10px 50px;
  align-items: center;
}

nav ul li a {
  margin: 0 20px;
  font-weight: bold;
  transition: 0.5s;
  text-decoration: none;
  color: $grey-dark;
}

nav ul li a:hover {
  color: $blue;
  cursor: pointer;
}

nav ul li a:active {
  outline: none;
}

nav ul li a:focus {
  color: $blue;
}

/* home */

#home {
  background-image: url(../images/syntechbackground-1.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 90vh;
}

#home h1 {
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 200;
  margin-top: 30px;
  padding: 0;
  font-family: $font-decor;
}

#home p {
  margin: 60px 0 0 0;
  padding: 0;
  font-size: 19px;
  max-width: 600px;
}

/* our work */

#our-work .container-right {
  background-color: #121215;
  color: $white;
  padding: 0;
}

#our-work button {
  text-decoration: none;
}

#our-work button a {
  text-decoration: none;
}

#our-work button a:active {
  color: $white;
}

.slider {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.slider-stage {
  width: 300px;
  overflow-x: hidden;
  margin: 80px auto 50px auto;
}

.sliders-nav {
  display: flex;
  justify-content: center;
  margin: 0 30px 50px 30px;
}

.sliders-nav hr {
  margin: 0 15px;
  width: 30px;
  color: $white;
  height: 1px;
}

.slide {
  display: flex;
  //border: solid 1px green;
  height: 200px;
}

.number {
  width: 100px;
  position: relative;
}

.text {
  width: 200px;
  padding: 20px 10px;
  position: relative;
}

.number p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  font-size: 60px;
  font-weight: bold;
  opacity: 0.6;
}

.text p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px;
}

.slide p {
  margin: 0;
  padding: 0;
}

/* offer */

#offer {
  background-image: url(../images/grayscale-photography-of-sea-3560136big.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

#offer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $white;
  opacity: 0.6;
  z-index: 0;
}

#offer .container-left {
  z-index: 1;
}

#offer .container-right {
  position: relative;
  z-index: 1;
}

.offer-nav {
  list-style: none;
  margin: 80px 0 150px 0;
}

.offer-nav li {
  margin: 30px 0;
  padding: 10px;
  font-size: 15px;
  font-family: $font-main;
  font-weight: bold;
  border-bottom: 1px solid $grey-dark;
  border-top: 1px solid rgba(0, 0, 0, 0);
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}

.offer-nav li a {
  text-decoration: none;
  color: $grey-dark;
}

.offer-nav li:hover {
  border: 1px solid $blue;
  cursor: pointer;
}

.offer-details {
  width: 80%;
  height: 80%;
  background-color: $white;
  opacity: 0.8;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  position: relative;
}

.offer-list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: all 0.5s ease-out;
}

.offer-list li {
  margin: 10px 0;
}

/* contact */

#contact {
  background-color: $grey-dark;
  max-height: none;
}

#contact h2 {
  color: $white;
}

#contact .contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form .e-mail {
  margin: 0 0 30px auto;
  max-width: 300px;
  height: 30px;
  text-align: center;
  font-family: $font-main;
}

.contact-form .e-mail::placeholder {
  font-family: $font-main;
}

.contact-form .message {
  margin: 0;
  height: 300px;
  text-align: right;
  padding: 10px 10px 0;
  text-align: right;
  font-family: $font-main;
}

.contact-form .message::placeholder {
  font-family: $font-main;
}

#contact .container-right {
  position: relative;
  padding-left: 0;
}

#contact .container-right ul {
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-left: 1px solid $white;
}

#contact .container-right ul li {
  color: $white;
  margin: 30px 0;
}

/* references */

#references {
  max-height: none;
  background-color: $grey-dark;
  border-right: 50px solid $white;
  border-left: 50px solid $white;
}

#references .container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 150px;
}

#references .container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 150px;
}

.img-pop-up {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-out;
}

.img-pop-up.open {
  opacity: 1;
  pointer-events: all;
  z-index: 3;
}

.full-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.3s ease-out;
  max-height: 90vh;
  max-width: 90vh;
}

.full-img.open {
  transform: translate(-50%, -50%) scale(1);
}

.img-container {
  height: 200px;
  max-width: 200px;
  margin: 50px 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.container-left .img-container::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 10%;
  right: 10%;
  background: $blue;
  display: block;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.container-right .img-container::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 10%;
  background: $blue;
  display: block;
  z-index: -1;
  transition: all 0.3s ease-out;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}

.img-container img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.container-left .img-container:hover::before {
  transform: translate(10%, -10%);
}

.container-right .img-container:hover::before {
  transform: translate(-10%, -10%);
}

.text-container {
  overflow: hidden;
  height: 300px;
  margin: 0;
  padding: 0;
}

.text-container p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  font-family: $font-decor;
  font-size: 40px;
  font-weight: 200;
  color: $white;
}

/* projects */

#projects {
  min-height: 80vh;
  flex-direction: column;
  padding: 50px 130px;
  width: 100%;
  max-height: none;
}

.projects-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
  padding: 0;
  border-bottom: 2px solid $grey-dark;
}

.projects-details p {
  display: block;
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 20px;
  font-family: $font-main;
  text-transform: uppercase;
  width: 33%;
}

.projects-details p:first-child {
  text-align: left;
}

.projects-details p:nth-child(2) {
  text-align: center;
}

.projects-details p:last-child {
  text-align: right;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 15px;
  list-style-type: none;
  position: relative;
}

.project li {
  margin: 0 10px;
  flex: 1;
}

.project::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: $blue;
  opacity: 0.5;
  position: absolute;
  bottom: 5%;
  left: -1%;
  display: block;
  z-index: -1;
}

.inwestor {
  text-align: right;
}

.dokumentacja {
  text-align: center;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 15px;
}

footer .logo {
  height: 25px;
  width: 25px;
}

footer p {
  margin: auto 3px;
}

/* media quaries? */

@media (max-width: 1180px) {
  #home h1 {
    font-size: 55px;
  }

  #home p {
    font-size: 18px;
  }
}

@media (max-width: 1005px) {
  .container-left {
    padding-left: 50px;
  }

  .container-right {
    padding-right: 50px;
  }

  #home .container-left {
    padding-left: 150px;
  }

  .sliders-nav hr {
    margin: 0 8px;
  }

  .offer-deatils {
    width: 100%;
  }

  .text-container p {
    font-size: 30px;
  }
}

@media (max-width: 850px) {
  #home .container-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 50px;
  }

  #home p {
    text-align: left;
    width: 70%;
    margin: 0;
  }

  #projects {
    padding: 50px 50px;
  }

  .projects-details p {
    font-size: 15px;
  }

  .offer-list {
    font-size: 15px;
    list-style: none;
  }
}

@media (max-width: 670px) {
  .navbar ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 14px;
  }

  #mobile-nav-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: right;
  }

  #mobile-nav-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: right;
  }

  #mobile-nav-3 {
    justify-self: center;
    grid-column: 2/3;
    grid-row: 1/3;
  }

  #mobile-nav-4 {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  #mobile-nav-5 {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .btn-cont .btn {
    padding: 20px 50px;
    font-size: 15px;
  }

  #references {
    border: none;
  }

  #references .container-left,
  #references .container-right {
    padding: 50px 15px;
  }

  @media (max-width: 580px) {
    section {
      flex-direction: column;
    }

    #references {
      flex-direction: row;
    }

    #references p {
      font-size: 20px;
    }

    .logo {
      height: 30px;
      width: 30px;
    }

    .container-left,
    .container-right {
      width: 100%;
    }

    #contact .container-right ul {
      border: none;
      position: unset;
      top: 0;
      transform: translateY(0);
      text-align: right;
    }

    #contact .container-right {
      padding-right: 30px;
      padding-top: 20px;
    }

    footer {
      font-size: 10px;
    }

    footer .logo {
      height: 20px;
      width: 20px;
    }

    #offer .offer-nav {
      margin-bottom: 0;
    }

    .full-img {
      max-height: 80vh;
      max-width: 50vh;
    }
  }

  @media (max-width: 500px) {
    #home h1 {
      margin-top: 0;
    }

    #home p {
      width: 80%;
    }

    .projects-details {
      display: none;
    }

    .project {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      border: 1px solid $grey-dark;
      margin-bottom: 10px;
    }

    .project::before {
      display: none;
    }

    .project .opracowanie {
      grid-column: 1/2;
      grid-row: 1/3;
    }

    .project .dokumentacja {
      grid-column: 2/3;
      grid-row: 1/2;
      text-align: right;
      border-bottom: 1px solid $blue;
    }

    .project .inwestor {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    #references .img-container,
    #references .text-container {
      max-width: 150px;
    }

  }

  @media (max-width: 400px) {
    h2 {
      font-size: 15px;
    }

    .navbar ul {
      padding: 10px 15px;
    }

    #home {
      max-height: 100vh;
    }

    #home p {
      font-size: 15px;
    }

    #home h1 {
      font-size: 50px;
      margin-top: 0;
      font-weight: 400;
    }

    #references .img-container,
    #references .text-container {
      max-width: 120px;
    }

    #references .text-container p {
      font-size: 15px;
    }

    #projects {
      padding: 50px 15px;
    }
    
    .projects-specifics .project {
      font-size: 12px;
    }
  }
}
