/* variables */

$white: #f7f7f7;
$grey-light: #a1a1a2;
$grey-dark: #121215;
$blue: #9fd4e4;

$font-main: "Montserrat", sans-serif;
$font-decor: "Roboto", sans-serif;

/* hiding content*/
.hidden{
  display: none;;
}

.active-slide{
  border-color: red;
}

/* global*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $white;
  font-family: $font-main;
  color: $grey-dark;
}

.logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  display: block;
  transition: 1s;
}

.start:hover{
  background-image: url(../images/logo-hover.png);
  transform: scale(1.3);
}

.container-left {
  width: 50%;
  text-align: right;
  padding: 80px 30px 50px 220px;
}

.container-right {  
  width: 50%;
  text-align: left;
  padding: 80px 220px 50px 30px;
}

h2 {
  text-transform: uppercase;
  font-size: 17px;
  margin: 0 0 50px 0;
}

button {
  background-color: $blue;
  color: $white;
  font-size: 17px;
  font-weight: bold;
  width: 150px;
  height: 50px;
  border: none;
  text-transform: uppercase;
  margin: 50px 0 30px;
}

button:hover {
  color: $grey-dark;
}

button:active {
  background-color: $grey-dark;
  color: $white;
}

section {
  display: flex;
  max-height: 800px;
}


/* navigation*/

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  padding: 10px 50px;
  align-items: center;
}

nav ul li a{
  margin: 0 20px;
  font-weight: bold;
  transition: 0.5s;
  text-decoration: none; 
}

nav ul li a:hover {
  color: $blue;
  cursor: pointer;
}

/* home */

#home {
  background-image: url(../images/syntechbackground-1.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

#home h1 {
  text-transform: uppercase;
  font-size: 75px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#home p {
  margin: 60px 0 0 0;
  padding: 0;
  font-size: 19px;
}

/* our work */

#our-work .container-right {
  background-color: #121215;
  color: $white;
  padding: 0;
}

.slider {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.slider-stage {
  width: 300px;
  overflow-x: hidden;
  margin: 80px auto 50px auto;
}

.sliders-nav {
  display: flex;
  justify-content: center;
  margin: 0 30px 50px 30px;
}

.sliders-nav hr {
  width: 30px;
  margin: 0 15px;
}

.slide{
  display: flex;
  //border: solid 1px green;
  height: 200px;
}

.number{
  width: 100px;
  position: relative;
}

.text{
  width: 200px;
  padding: 20px 10px;
  position: relative;
}

.number p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  font-size: 60px;
  font-weight: bold;
  opacity: 0.6;
}

.text p{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px;
}

.slide p{
  margin: 0;
  padding: 0;
}

/* offer */

#offer {
  background-image: url(../images/grayscale-photography-of-sea-3560136.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

#offer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $white;
  opacity: 0.5;
  z-index: 0;
}

#offer .container-left {
  z-index: 1;
}

#offer .container-right {
  position: relative;
}

#offer ul {
  list-style: none;
  margin: 80px 0 150px 0;
}

#offer ul li {
  margin: 30px 0;
  padding: 10px;
  font-size: 20px;
  font-family: $font-decor;
  border-bottom: 1px solid $grey-dark;
  border-top: 1px solid rgba(0,0,0,0);
  
}

#offer ul li:hover{
  border: 1px solid $blue;
}

.offer-details {
  width: 80%;
  height: 80%;
  background-color: $white;
  opacity: 0.8;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

/* contact */

#contact {
  background-color: $grey-dark;
}

#contact h2{
  color: $white;
}

#contact .contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form .e-mail {
  margin: 0 0 30px auto;
  max-width: 300px;
  height: 30px;
  text-align: center;
  font-family: $font-main;
}

.contact-form .e-mail::placeholder{
  font-family: $font-main;
}

.contact-form .message {
  margin: 0;
  height: 300px;
  text-align: right;
  padding: 10px 10px 0;
  text-align: right;
}

.contact-form .message::placeholder{
  font-family: $font-main;
}

#contact button{
  margin: 30px 0;
}

#contact .container-right{
  position: relative;
  padding-left: 0;
}

#contact .container-right ul{
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-left: 1px solid $white;
}

#contact .container-right ul li{
  color: $white;
  margin: 30px 0;
}


/* footer */

footer{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

footer .logo{
  height: 25px;
  width: 25px;
}

footer p{
  margin: auto 3px;
}
